* {
	margin:0;
	padding: 0;
	border: 0;
}

body, header, section, footer, h1, h2, h3 {
  display: block;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #FFCBA4;
  position: relative;
  text-align: center;
}

header {
  background-color: #3CB371;
  padding: 20px 0;
}

header h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#generator-button p {
  padding-top: 10%;
}
button {
  margin: 0 auto;
  border: 5px dotted #20B2AA;
}

h1 {
  font-style:
  font-weight: 100;
}

.big-and-bold {
  font-size: 48px;
  font-weight: 400;
  transition: all 3s;
}

.big-and-bold:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

#food-image img {
  max-width: 100%;
}

#food-image {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;

}

footer {
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
}

footer h3 {
  padding: 20px 0;
}

footer p:hover {
  background-color: #20B2AA;
}

@keyframes shake {
  10%; 90%; {
    transform: translate3d(-1px, 0,0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px,0,0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes swinging {
  0%{transform: rotate(10deg);}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(10deg);}
}
